<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="Users">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css" />
    <title>Users Management</title>

    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="UserController">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p class="text-right"><strong>09. - BACKEND USERS MANAGEMENT</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#" role="tab" data-toggle="tab">User Data</a></li>
                        <li role="presentation"><a href="#" role="tab" data-toggle="tab">Main menu Access</a></li>
                        <li role="presentation"><a href="#" role="tab" data-toggle="tab">Hotel Access</a></li>
                        <li role="presentation"><a href="#" role="tab" data-toggle="tab">Catalogue items Access</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="users">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>"BACKEND USER" LIST</h4>
                                    <div>
                                        <select size="20" class="form-control" ng-model="form" ng-options="(i.Name + ' ' + i.Surname) for i in users | orderBy: 'Name' | filter:searchText"></select>
                                    </div>
                                    <hr />
                                    <div class="text-right">
                                        <button type="button" class="btn btn-default" ng-click="deleteUser()">Delete User</button>
                                        <button type="button" class="btn btn-default" ng-click="newUser()">New User</button>
                                    </div>
                                    <div class="alert alert-default">
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <label>Search by "User name"</label>
                                                <input type="text" class="form-control input-sm" ng-model="searchText" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4>"BACKEND USER" FORM</h4>
                                    <form class="form-horizontal" ng-submit="addUser()">
                                        <input type="hidden"ng-model="form.Id" />
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" ng-model="form.Name" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Lastname</label>
                                            <input type="text" ng-model="form.Surname" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" ng-model="form.Email" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" id="Password" class="form-control" />
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="form.Active">
                                                Active
                                            </label>
                                        </div>
                                        <div class="text-right">
                                            <button type="reset" class="btn btn-default">Cancel</button>
                                            <button type="submit" class="btn btn-default">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="users">Main menu access</div>
                        <div role="tabpanel" class="tab-pane" id="users">Hotel access</div>
                        <div role="tabpanel" class="tab-pane" id="users">Catalogue items access</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-cookies.js"></script>
    <script src="config/app.global.js"></script>
    <script src="/resources/js/app.users.js"></script>
</body>
</html>
